.bg-dark-custom {
    background-color: #343a40; /* Warna hitam untuk menyambung dengan bagian atas */
    width: 100%;
    margin: 0;
    padding: 2rem 0; /* Untuk memberi jarak vertikal di atas dan bawah */
}





.card {
    position: relative;
    border: none; /* Hilangkan border card */
}
.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05); /* Memperbesar kartu sedikit */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}
